body {
  background: url("lottacoins.jpg") no-repeat center fixed;
}

button {
  background-color: gold;
  border-color: gold;
}
h1 {
  background-color: brown;
  color: white;
}
p {
  background-color: gray;
  color: white;
}
h2 {
  background-color: brown;
  color: white;
}
form {
  background-color: gray;
  color: white;
}
